*.obj
*.dll
frameworks/cocos2d-x/cocos/2d/Debug.win32/libcocos2d.log
*.tlog
*.pdb
frameworks/cocos2d-x/cocos/2d/Debug.win32/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/
frameworks/runtime-src/proj.android/app/.cxx/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/
*.log
frameworks/runtime-src/proj.android/.idea/
*.db
*.suo
